<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Material3.Light"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:label="MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher">

        <!-- 🔥 Solución: Se agregó `android:exported="true"` en Main para Android 12+ -->
        <activity android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ActCronometro"
            android:exported="false"/>
        <activity android:name=".ActCalculadora"
            android:exported="false"/>

    </application>

</manifest>
